
<mat-form-field>
    <div>
        <mat-toolbar>
            <input matInput [value]="selectedFileNames.length ? selectedFileNames : 'Select Images'" />

            <button
                    mat-flat-button
                    color="primary"
                    [disabled]="!selectedFiles"
                    (click)="uploadFiles()"
            >

            </button>
        </mat-toolbar>

        <input
                type="file"
                id="fileInput"
                name="fileInput"
                accept="image/*" multiple
                (change)="selectFiles($event)"
        />
    </div>
</mat-form-field>




