@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');
body {
    margin: 0;
}
.gallery-item {
    margin: 5px;
}
.scaled {
        width: 300px;
        height: 300px;
        transform-origin: left;
        transform: scale(1);

}